@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #0b132bff;
  --lightMainColor: rgb(28, 37, 65);
  --secondaryColor: #f8f4f9ff;
  --thirdColor: #fca311;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 3rem; /* same as navbar height in Navbar.jsx classname of nav */
  font-size: 10px;
}

@media only screen and (min-width: 720px) {
  html {
      font-size: 12px;
  }
}

@media only screen and (min-width: 960px) {
  html {
      font-size: 14px;
  }
}

@media only screen and (min-width: 1240px) {
  html {
      font-size: 16px;
  }
}

body{
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

h1{
  font-size: 2.875rem;
  font-weight: 500;
  color: var(--secondaryColor);
}

h2{
  font-size: 2.25rem !important;
  font-weight: 600 !important;
  color: var(--secondaryColor) !important;
}

h3{
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--secondaryColor);
}

p{
  font-size: 1.25rem;
}

.max-w{
  max-width: 1440px;
  margin: auto;
}

.nav-btn{
  color: var(--secondaryColor);
  padding-bottom: 4px;
  padding-inline: 0px;
  box-sizing: border-box;
  text-align: center;
}

.active-nav-btn{
  color:var(--thirdColor);
}

.nav-underline{
  width: 120px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--secondaryColor);
  top: 37px;
  transition: ease 0.5s;
  position: absolute;
}

.screen-h{ /* temp */
  height: 900px;
}

h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.slider {
  /* box-shadow: 0 20px 10px -15px rgba(0, 0, 0, 0.5); */
  height: 150px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: var(--lightMainColor);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, var(--mainColor) 0%, rgba(28, 37, 65, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 10%;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track-first {
  animation: scroll-1st-row 40s linear infinite;
  display: flex;
  width: calc(16.875em * 10); /* Multiplied by number of logos */
  height: 150px;
}

.slide-track-second {
  animation: scroll-2nd-row 40s linear infinite;
  display: flex;
  width: calc(16.875em * 8); /* Multiplied by number of logos */
  height: 150px;
}

.slide-track-third {
  animation: scroll-3rd-row 40s linear infinite;
  display: flex;
  width: calc(16.875em * 7); /* Multiplied by number of logos */
  height: 150px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
  width: 9.375em; /* 150px */
  margin-right: 7.5em;
  flex-shrink: 0;
  flex-grow: 0; 
}

.slide img {
  max-width: 100%;
  width: 3em;
  height: 3em;
}

@keyframes scroll-1st-row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-16.875em * 10)); /* Multiplied by number of logos */
  }
}

@keyframes scroll-2nd-row {
  0% {
    transform: translateX(calc(-16.875em * 7)); /* Multiplied by number of logos */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-3rd-row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-16.875em * 8)); /* Multiplied by number of logos */
  }
}

label{
  z-index: 2;
  font-size: 0.875rem;
  opacity: 0;
  position: absolute;
  top:-0.75rem; left:0.375rem;
  color: var(--secondaryColor);
  font-weight: bold;
  /* Makes the outline look invisible in the width of text */
  background: linear-gradient(180deg, transparent calc(49%), var(--mainColor) calc(51%), var(--mainColor) 50%); 
  overflow: hidden;
  border-radius: 10%;
  display: block;
  width: 0;
  text-align: center;
  line-height: 1.4;
}

input:focus + label, textarea:focus + label{
  animation: labelFadeIn 1s linear 0s forwards;
}

@keyframes labelFadeIn{
  0%{
    width: 0rem;
  }
  20%{
    opacity:1;
    width: 1.25rem;
  }
  100%{
    opacity:1;
    width: 6.25rem;
  }
}

input:focus::placeholder, textarea:focus::placeholder{
  color:transparent;
}

input::selection, textarea::selection{
  background-color: var(--lightMainColor); /* Set the background color for selected text */
  color:var(--secondaryColor);
}

input:focus, textarea:focus, button:focus{
  outline: 1px solid var(--secondaryColor);
}

.scrollTrigger{
  transform: translateX(-100%);
  opacity: 0;
}
.scrollTrigger-R{
  transform: translateX(100%);
  opacity: 0;
}
